In [18]:
import sys
import pandas as pd
import pyodbc as pyodbc
from sqlalchemy.dialects.mssql import pymssql
import pymssql
import pymongo
import csv
import json
from pymongo import MongoClient
from flask import Flask, jsonify, render_template
client = MongoClient()
client = MongoClient('localhost', 27017)
#mongodb+srv://arinmuk:amarji123!@cluster0-omshy.mongodb.net/test?retryWrites=true&w=majority
cloudstr='mongodb+srv://arinmuk:amarji123!@cluster0-omshy.mongodb.net/test?retryWrites=true&w=majority'
cloudclient = MongoClient(cloudstr)
#import mysql as mysql

In [19]:
#servername='LAPTOP-HIB8VNLH'
servername='zbook'
username='arindam'
#pwd=input(" enter password : ")
pwd="Airbusa350xwb"
from elasticsearch import Elasticsearch
es = Elasticsearch([{'host': 'localhost', 'port': 9200}])
es

In [20]:
def sqlread():
    conn = pymssql.connect(server=servername, user=username, password=pwd, database='aircraft') 
    cursor = conn.cursor()
    qry='SELECT * from aircraft'
    salesmasterqry='select ID, MODEL_NO, DIMAID, WID, AIRLINE, AIRCRAFT_TYPE, REGISTRATION, DESCRIPTION, SIZE, PRICE, SHIPPING, TAX, COMPANY, ORDEREDFROM, DATEOFORDER,  HangarClub,  PictureID from aircraftsold'
    salesqry='select s.*,a.price,a.shipping,a.tax from solddetails s inner join aircraftsold a on s.aircraftid=a.id '
    airsccntqry='select * FROM airline_scale_cnt'
    airsccostqry=  'select * FROM Airline_scale_cost'  
    
    cursor.execute('SELECT * from aircraft')
    cursor.execute(salesqry)
    row = cursor.fetchone()  
    #while row:  
            #print(row)
            #row = cursor.fetchone()  
    sqldf=pd.read_sql(qry,conn)
    solddf=pd.read_sql(salesqry,conn)
    modelsolddf=pd.read_sql(salesmasterqry,conn)
    airsc_cntdf=pd.read_sql(airsccntqry,conn)
    airsc_costdf=pd.read_sql(airsccostqry,conn)
    sqldf.head()
    return sqldf,solddf,modelsolddf,airsc_cntdf,airsc_costdf
#mongodb+srv://arinmuk:amarji123!@cluster0-omshy.mongodb.net/test?retryWrites=true&w=majority

In [21]:
sqldf,solddf,modelsolddf,adf,bdf = sqlread()
bdf.head()

,AIRLINE,400sc,500sc,200sc,100sc,130sc,144sc,72sc,600sc,1000sc,187sc,150sc,250sc,160sc,300sc,Tot_Cost
0,ABX AIR,0.00,0.0,75.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75.00
1,ADRIA,104.80,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,104.80
2,AER LINGUS,907.64,0.0,1872.08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2779.72
3,AERO CALIFORNIA,0.00,0.0,221.20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,221.20
4,AERO LLOYD,0.00,0.0,69.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,69.00

In [23]:
sqldf,solddf,modelsolddf,a,b = sqlread()
solddf.head()
solddf["profit_loss"]=solddf["NetRecd"]-(solddf["price"]+solddf["shipping"]+solddf["tax"])
solddf["Sale_Date"]=pd.to_datetime(solddf["SaleDate"])
solddf["month"]=solddf['SaleDate'].dt.month
solddf["year"]=solddf['SaleDate'].dt.year
solddf.head()
#solddf.set_index("SaleDate",inplace=True)
solddf.head()
sqldf.columns
calcdf = sqldf.drop(['DIMAID', 'WID','DESCRIPTION', 'PICTURE', 'Picture2',
       'Picture3', 'Rare', 'HangarClub', 'MarketValue', 'PictureID'],axis =1)
exportdf=sqldf.drop(['PICTURE', 'Picture2',
       'Picture3', 'Rare', 'MarketValue'], axis =1)
#filename="E:/aircraft_phase_1/db/air.csv"
#exportdf.to_csv(filename,index=None,header=False,encoding='utf-8')
modelsolddf.head()

,ID,MODEL_NO,DIMAID,WID,AIRLINE,AIRCRAFT_TYPE,REGISTRATION,DESCRIPTION,SIZE,PRICE,SHIPPING,TAX,COMPANY,ORDEREDFROM,DATEOFORDER,HangarClub,PictureID
0,1,BB5-2002-26A,0,3694,SINGAPORE AIRLINES,B747-300,9V-SKN,BigBird Singapore Airlines B 747-312 1:500 - B...,1:500,27.00,5.0,0.0,BIGBIRD,WWW.EBAY.COM:chrism8036,2011-02-02,False,0
1,2,HE519892,0,2452,AIRPORT,AIRPORT:ACC,ACCESSORIES,HERPA AIRPORT ACCESSORIES X 519892 cars,1:500,25.00,8.0,0.0,HERPA,EBAY,2011-02-13,False,0
2,3,HE520553,0,None,AIRPORT,AIRPORT:ACC,ACCESSORIES,Herpa Airport Accessories Apron Boarding Stati...,1:500,16.95,0.0,0.0,HERPA,ECRATER,2011-02-01,False,0
3,4,HE507998,0,13856,QATAR AIRWAYS,A330-300,A7-AEG,Herpa Qatar Airways A330-302 1:500 - 507998 - ...,1:500,37.00,8.0,0.0,HERPA,DAC andrews huber,2011-01-05,False,4
4,5,HE507523,0,12826,QATAR AIRWAYS,A330-300,A7-AED,Herpa Qatar Airways A330-302 1:500 - 507523 - ...,1:500,37.00,8.0,0.0,HERPA,DAC andrews huber,2011-01-05,False,0

In [ ]:
def mongocloud(exportdf,slddf,mssolddf):
    db=cloudclient['Aircraft']
    colmodelscloud=db['models']
    colmodels2cloud=db['models2']
    colsale2cloud=db['solddetails']
    colmssoldcloud=db['modelsold']
    cursor = colmodelscloud.find() 
#for record in cursor: 
    colmodelscloud.drop()
    colsale2cloud.drop()
    colmodels2cloud.drop()
    colmssoldcloud.drop()
    #records = json.loads(exportdf.to_json(orient='records'))
    #records = json.loads(exportdf.T.to_json()).values()
    #db.models.insert_many(records)
    #db.insert_many(df.to_dict('records'))
    db.models.insert_many(exportdf.to_dict('records'))
    db.models2.insert_many(exportdf.to_dict('records'))
    db.solddetails.insert_many(slddf.to_dict('records'))
    db.modelsold.insert_many(mssolddf.to_dict('records'))

In [ ]:
mongocloud(exportdf,solddf,modelsolddf)

In [ ]:
def mongoR_I(exportdf,slddf,mssolddf):
    db=client['Aircraft']
    colmodels=db['models']
    colmodels2=db['models2']
    colsale=db['solddetails']
    colmssold=db['modelsold']
    cursor = colmodels.find() 
#for record in cursor: 
    colmodels.drop()
    colsale.drop()
    colmodels2.drop()
    colmssold.drop()
    #records = json.loads(exportdf.to_json(orient='records'))
    #records = json.loads(exportdf.T.to_json()).values()
    #db.models.insert_many(records)
    #db.insert_many(df.to_dict('records'))
    db.models.insert_many(exportdf.to_dict('records'))
    db.models2.insert_many(exportdf.to_dict('records'))
    db.solddetails.insert_many(slddf.to_dict('records'))
    db.modelsold.insert_many(mssolddf.to_dict('records'))

In [ ]:
def elastic_update(exportdf,slddf,mssolddf):
    es.indices.delete(index='aircraft')
    es.indices.create(index='aircraft', ignore=400)
    es.indices.delete(index='solddetails')
    es.indices.create(index='solddetails', ignore=400)
    INDEX="aircraft"
    TYPE= "models"
    INDEX2="solddetails"
    TYPE2= "sales"
    INDEX3="modelsold"
    TYPE3= "modelsales"
    from bson import json_util

    def rec_to_actions(export1df,idxname,idxtype):
        #export1df["DATEOFORDER"]=export1df['DATEOFORDER'].dt.strftime('%Y-%m-%d')
        import json
        tmp = export1df.to_json(orient = "records")
        print(tmp)
    # Load each record into json format before bulk
        df_json= json.loads(tmp)
        for record in df_json: #export1df.to_dict(orient="records"):
            #print(record)
            yield ('{ "index" : { "_index" : "%s", "_type" : "%s" }}'% (idxname, idxtype))
            yield (json.dumps(record, default=str))

    #from elasticsearch import Elasticsearch
    #e = Elasticsearch() # no args, connect to localhost:9200
    if not es.indices.exists(INDEX):
        raise RuntimeError('index does not exists, use `curl -X PUT "localhost:9200/%s"` and try again'%INDEX)

    r = es.bulk(rec_to_actions(exportdf,INDEX,TYPE)) # return a dict
    r = es.bulk(rec_to_actions(slddf,INDEX2,TYPE2))
    r = es.bulk(rec_to_actions(mssolddf,INDEX3,TYPE3))
    print(not r["errors"])

In [ ]:
mongoR_I(exportdf,solddf,modelsolddf)
elastic_update(exportdf,solddf,modelsolddf)
solddf.set_index("SaleDate",inplace=True)

In [ ]:
exportdf.head()
#exportdf['DATEOFORDER']=(exportdf['DATEOFORDER'])
exportdf.head()

In [ ]:
exportdf.columns
exportdf["DATEOFORDER"]=pd.to_datetime(exportdf['DATEOFORDER'])
exportdf["DATEOFORDER"].dtype

In [ ]:


#db.models2.insert_many(records)
calcdf.head()

In [24]:
airlinegrp=calcdf.groupby(['AIRLINE']).ID.agg(['count'])
airlinegrp.head(5)
airlinegrp=airlinegrp.rename(columns={'count':"total"})

airlinegrp.head()
airlinetotal=calcdf.groupby(['SIZE']).agg({'PRICE':['sum'],'ID':'count'}).rename(columns={'sum':"cost"})
airlinetotal.head(14)

            PRICE    ID
             cost count
SIZE
1:100     1522.98    15
1:1000      58.00     2
1:130      300.00     4
1:144      420.25     5
1:150        0.00     1
1:160        0.00     1
1:187       10.00     1
1:200   227805.21  3049
1:250       54.99     7
1:300      373.67     9
1:400   199804.92  6000
1:500     3485.29   136
1:600       27.70     2
1:72      2274.02    42

In [15]:
calcdf.head()

,ID,MODEL_NO,AIRLINE,AIRCRAFT_TYPE,REGISTRATION,SIZE,PRICE,SHIPPING,TAX,COMPANY,ORDEREDFROM,DATEOFORDER
0,2,AC18022B,AIR INDIA,B707-400,VT-DJI,1:400,122.00,20.0,0.0,AEROCLASSICS,EBAY:marketa2218,2021-07-04
1,3,HE502238,KINGFISHER,A320-200,VT-KFA,1:500,26.00,3.0,0.0,HERPA,DAC:,2011-02-06
2,7,DRW55934,QATAR AIRWAYS,A330-200,A7-ACG,1:400,20.95,0.4,0.0,DRAGON WINGS,3000toys.com,2011-02-04
3,11,MP5805,LUFTHANSA,A340-600,NA,1:500,14.95,0.4,0.0,MODEL POWER,3000TOYS.COM,2011-02-04
4,12,AC4XEAJ,EL AL,B767-300ER,4X-EAJ,1:400,15.00,1.0,0.0,AEROCLASSICS,JETCOLLECTOR,2011-01-02

In [17]:
airlinetotal=calcdf.groupby(['SIZE'],as_index=False).agg({'PRICE':'sum','ID':'count'}).rename(columns={'ID':"Total_Models"})
airlinetotal.head(14)

      SIZE      PRICE  Total_Models
0    1:100    1522.98            15
1   1:1000      58.00             2
2    1:130     300.00             4
3    1:144     420.25             5
4    1:150       0.00             1
5    1:160       0.00             1
6    1:187      10.00             1
7    1:200  227095.21          3039
8    1:250      54.99             7
9    1:300     373.67             9
10   1:400  199691.42          5998
11   1:500    3485.29           136
12   1:600      27.70             2
13    1:72    2274.02            42

In [ ]:
ai_df=calcdf[calcdf["AIRLINE"]=='air india'.upper()]
ai_df.head()

In [ ]:
solddf.sort_index(inplace=True)
solddf["profit_loss"].plot()

In [ ]:
solddf.index

In [ ]:
solddf["profit_loss"].rolling(30).mean().plot()

In [ ]:
calcdf["AIRLINE"]=calcdf['AIRLINE'].str.title()
list(set(calcdf['AIRLINE'].values.tolist()))

In [ ]:
calcdf["AIRLINE"].unique()

In [ ]:
airlinegrp.head()

In [ ]:
ai_df.describe()

In [ ]:
# configure elasticsearch

In [ ]:

#exportdf.describe()

In [ ]:
#import pyes
#es1=pyes.ES()
#exportdf["no_index"] = [x+1 for x in range(len(exportdf["ID"]))]
#tmp = exportdf.to_json(orient = "records")
# Load each record into json format before bulk
#df_json= json.loads(tmp)
#print(df_json[0])
# Create an index into elastic search. If we need to create a mapping, we ought to do it here
#index_name = 'cars'
#type_name = 'record'

# Bulk index
#for doc in df_json:
    #es1.index(doc, index_name, type_name,id=doc['no_index'])

In [ ]:
INDEX="aircraft"
TYPE= "models"
#res = es.search(index=INDEX, body={"query":  {"match": {"REGISTRATION": "VR-HOA"}}})
res = es.search(index=INDEX, body={"query":  {"match_phrase": {"REGISTRATION": "VR-HOA"}}})
print('f{} documents found',res['hits']['total'])
for doc in res['hits']['hits']:
    #print(doc)
    print(doc['_id'], doc['_source'])

In [ ]:

exportdf["month"]=exportdf["DATEOFORDER"].dt.month
exportdf["year"]=exportdf["DATEOFORDER"].dt.year
exportdf.head()

In [ ]:
exportdf["netprice"]=exportdf["PRICE"]+exportdf["SHIPPING"]+exportdf["TAX"]
purchasesumdf=exportdf.groupby(["year","month"]).agg({"netprice":"sum"})
purchasesumdf.tail(2)

In [ ]:
#solddf.head()

In [ ]:
solddf.rename(columns={"Net Recd":"Tot_SP"})
solddf["Tot_CP"]=solddf['price']+solddf["shipping"]+solddf["tax"]
solddf["tot_efees"]=solddf['ListingFee']+solddf["EbayFee"]+solddf["PaypalFee"]+solddf["tax"]
solddf['shippingfees']=solddf['Shipping']+solddf["Insurance"]
#solddf.head()
solddf=solddf.reset_index()
solddf=solddf.groupby(['year','month'],as_index=False).agg({'Listing price':'sum','Net Recd':'sum','ListingFee':'sum'\
                        ,'EbayFee':'sum','PaypalFee':'sum','Insurance':'sum','Shipping':'sum','NetRecd':'sum','profit_loss':'sum'})
#,'EbayFee','PaypalFee','Insurance','Shipping','NetRecd','profit_loss'

solddf.to_csv("E:\Aircraft_Phase_1\db\sold.csv")
solddf.to_csv("E:\Aircraft_Phase_1\db\sold.csv")
solddf.to_json("E:\Aircraft_Phase_1\db\sold.csv",orient='records')

In [ ]:

solddf.head()

In [ ]:
solddf.head()

In [6]:
    db=client['Aircraft']
    colmodels=db['models']
    colmodels2=db['models2']
#    def modelinvest():
    data={}
    cursor = colmodels.find() 
    #for rec in cursor[:2]:  #slicning in loop to show only two records
     #print (rec)
    aggpipeline =[{ "$group": {"_id": "$AIRLINE", "total": { "$sum": "$PRICE" },"myCount": { "$sum": 1 }}}]
    cursor1=colmodels.aggregate(aggpipeline)

    cursor1
    #for rec in cursor1:
     #   print(rec)
    #print(list(cursor1))    
    summarydf = pd.DataFrame(list(colmodels.aggregate(aggpipeline))).rename(columns={"_id":"Airline","myCount":"ModelCount"})
    data = { "airline":summarydf["Airline"].tolist(),
               "ModelCount":summarydf["ModelCount"].tolist(),
                "total":summarydf["total"].tolist(),
           }
    #print(data)
    test=summarydf.to_json()
    print(test)
    #return jsonify(data)

#investdf = modelinvest()
#investdf.head()

{"Airline":{"0":"VOLARIS","1":"SWISS AIR","2":"ATA","3":"THAI AIRWAYS","4":"THAI AIRASIA","5":"ABX AIR","6":"ESTONIAN AIR","7":"PLAAF","8":"CSA CZECH AIRLINES","9":"IBERIA EXPRESS","10":"EXPRESS FREIGHTERS","11":"SPICEJET","12":"LAM MOZAMBIQUE","13":"AIR UK","14":"SHANGHAI AIRLINES","15":"MANDALA AIRLINES","16":"AIR CALIFORNIA","17":"OCEANAIR","18":"GLOBAL AVIATION LEASING","19":"TAM BRAZIL","20":"SF AIRLINES","21":"SABENA","22":"AIR AUSTRAL","23":"AEROMARITIME","24":"AIR NIPPON","25":"INTERFLUG","26":"BEA","27":"RYUKYU AIR COMMUTER","28":"BAHAMASAIR","29":"AVIANCA BRAZIL","30":"AIR FINLAND","31":"MEXICAN NAVY","32":"BOAC","33":"ROYAL THAI AIR FORCE","34":"SINGAPORE AIRFORCE","35":"US ARMY","36":"ATLANT-SOYUZ AIRLINES","37":"SUDAN AIRWAYS","38":"MEGANTARA","39":"LION AIR","40":"ASL AIRLINES","41":"AIR GREENLAND","42":"POLYNESIAN AIRLINES","43":"HORIZON AIR","44":"AIR PACIFIC","45":"A-NET","46":"TIGER AIRWAYS AUSTRALIA","47":"CARGOLUX","48":"GARUDA INDONESIA","49":"AIR HONGKONG","50":"AIR MADAGASCAR","51":"ROYAL JORDAN","52":"JETBLUE","53":"NORTHWEST","54":"SKYWEST AIRLINES","55":"HINDUJA CARGO","56":"AIR INDIA EXPRESS","57":"UZBEKISTAN AIRWAYS","58":"ANSETT NEW ZEALAND","59":"AIR CARA\u00cfBES ATLANTIQUE","60":"AIR COTE D IVOIRE","61":"CATHAY PACIFIC","62":"NORWEGIAN","63":"VIRGIN AMERICA","64":"TAM","65":"RAF","66":"VIETNAM AIRLINES","67":"OZARK AIRLINES","68":"ROYAL AIR MAROC","69":"AIR CHARTER","70":"AIR ATLANTIC","71":"EVERGREEN","72":"TUI AIRLINES","73":"GOVT OF INDIA","74":"CUBANA","75":"AIR PULLMANTUR","76":"AIR MAURITIUS","77":"RYANAIR","78":"JAA","79":"CHINA AIRLINES","80":"HI FLY","81":"QATAR","82":"VIRGIN SUN","83":"JADE CARGO","84":"SLOVAK AIRLINES","85":"FANTASY","86":"INDIGO","87":"ANTONOV DESIGN BUREAU","88":"TURKMENISTAN AIRLINES","89":"VOLGA-DNEPR","90":"TRANS CARRIBEAN AIRWAYS","91":"KUZU AIRLINES","92":"UKRANIAN AIRFORCE","93":"COLUMBIA AIRLINES","94":"GULF AIR","95":"TRANSBRASIL","96":"REAL TRANSPORTES AEREOS","97":"FOKKER AIRCRAFT CO","98":"CISKEI INTERNATIONAL","99":"DHL","100":"US NAVY","101":"CAAC","102":"AEROVIAS Q","103":"UPS","104":"AERONAVES DE MEXICO","105":"WESTERN PACIFIC","106":"USAIR","107":"CATHAY DRAGON","108":"BONANZA AIRLINES","109":"MAS","110":"LOT","111":"TAA","112":"TRANS GLOBAL AIRLINES","113":"AERO LLOYD","114":"PLAYBOY","115":"SILKWAY AIRLINES","116":"AIR RHODESIA","117":"ATI","118":"VIRGIN SAMOA","119":"ETIHAD AIRWAYS","120":"BUFFALO AIRWAYS","121":"JETSTAR HONGKONG","122":"UKRAINE INTERNATIONAL","123":"HAWAIIAN AIRLINES","124":"SAUDI ARABIAN GOVERNMENT","125":"TUNIS AIR","126":"GRAND CHINA EXPRESS","127":"ALLEGIANT AIR","128":"AIR FRANCE","129":"PSA","130":"JAZ","131":"FRENCH AIRFORCE","132":"HONGKONG AIRLINES","133":"ZAMBIA AIRWAYS","134":"FINLANTIC","135":"PBY FOUNDATION","136":"IRAQI AIRWAYS","137":"SLOVAK AF","138":"EDELWEISS","139":"JAS","140":"PIEDMONT","141":"AVIANOVA","142":"SUN DOR","143":"CAPITOL AIRWAYS","144":"NCA","145":"LAN CHILE","146":"MSA","147":"PANAIR DO BRASIL","148":"AIR TRANSAT","149":"BRITISH AIRTOURS","150":"SONG","151":"OVERSEAS NATIONAL","152":"AIR FLORIDA","153":"MARTINAIR HOLLAND","154":"NORDAIR","155":"NOKSCOOT","156":"CANADIAN AIRLINES","157":"SOBELAIR","158":"ALIA","159":"ORIENT THAI","160":"TAP AIR PORTUGAL","161":"FUERZA AEREA ARGENTINA","162":"COMPASS AIRLINES","163":"ATLANTIC AIRLINES","164":"CHANNEL AIR BRIDGE","165":"SUKHOI DESIGN BUREAU","166":"K MILE","167":"NORTHWEST AIRLINK","168":"SUN COUNTRY","169":"AIR JAMAICA","170":"RUSSIAN AIRFORCE","171":"ROYAL AUSTRALIAN AF","172":"CALEDONIAN AIRWAYS","173":"TRUMP","174":"LIBYAN ARAB AIRLINES","175":"DAN AIR","176":"AMIRI FLIGHT","177":"AEROSUR","178":"PLUNA","179":"VLADIVOSTOK AIR","180":"VNUKOVO AIRLINES","181":"AIRBRIDGECARGO","182":"PACIFIC AIRLINES","183":"AIR SEYCHELLES","184":"WARDAIR","185":"SURINAM AIRWAYS","186":"IRAN ASEMAN AIRLINES","187":"AVIATECA GUATEMALA","188":"WEST AIR","189":"LAUDA AIR","190":"USAF","191":"BRITISH EAGLE","192":"KLM","193":"BRUSSELS AIRLINES","194":"VISTARA","195":"ROYAL NETHERLANDS AF","196":"AER LINGUS","197":"JETSTAR","198":"AIR ALGERIE","199":"SAHA AIR LINES","200":"PIA","201":"OMAN AIR","202":"REPUBLIC AIRLINES","203":"ALLEGHENY AIRLINES","204":"JETSTAR JAPAN","205":"NOK AIR","206":"WOW AIR","207":"CARCON","208":"NATIONAL AIRLINES","209":"AVIOGENEX","210":"TRANSAERO AIRLINES","211":"AIR AFRIQUE","212":"AEROSPATIALE","213":"AIR INDIA","214":"ROYAL NEW ZEALAND AF","215":"USAir","216":"SRILANKAN","217":"WESTERN AIRLINES","218":"ALOHA AIRLINES","219":"MAHAN","220":"AEROFLOT","221":"HUNGARIAN AIRFORCE","222":"DRAX AIR","223":"BRITISH CALEDONIAN","224":"DELTA CHICAGO & SOUTHERN","225":"AIR CEYLON","226":"GERMAN CARGO","227":"CONVIASA","228":"AIR ASIA","229":"VIRGIN GALACTIC","230":"SUNWING AIRLINES","231":"DEER AIR","232":"AIR KORYO","233":"PRIVATE","234":"DRAGONAIR","235":"AIR LEISURE","236":"EUROPEAN AIRCHARTER","237":"HOKKAIDO INTERNATIONAL","238":"CROSSAIR","239":"DAS AIR CARGO","240":"AEROMEXICO","241":"AVIACSA","242":"NATIONAIR","243":"BRITISH MIDLAND","244":"UNITED","245":"ARIANA AFGHAN","246":"CHINA NORTHERN","247":"Air Koryo","248":"NAL","249":"UTA","250":"NIGERIA AIRWAYS","251":"AIR LANKA","252":"SAS","253":"AIRBUS","254":"GERMAINIA","255":"EVA AIR","256":"ECUATORIANA","257":"AIR AUSTRALIA","258":"ALITALIA","259":"JAL","260":"LATAM","261":"JALWAYS","262":"NORTHEAST","263":"INDIAN AIRLINES","264":"EVERTS AIR CARGO","265":"HONGKONG EXPRESS","266":"EAST LINE AIRLINES","267":"MALAYSIAN\/AIR INTER","268":"TIGER AIRWAYS","269":"NASA","270":"NORTHWEST TERRITORIAL","271":"THOMSONFLY","272":"KINGFISHER","273":"ALASKA AIRLINES","274":"EL AL","275":"BLANK","276":"EASTERN AIRLINES","277":"BWIA","278":"BRITISH AIRWAYS","279":"NATIONAL AIRWAYS","280":"SOUTH AFRICAN","281":"SYRIANAIR","282":"QATAR AIRWAYS","283":"MALAYSIA AIRLINES","284":"COURTLINE","285":"PACIFIC WESTERN","286":"ANA","287":"ROYAL BRUNEI","288":"PHILIPPINE AIRLINES","289":"AUSTRIAN AIRLINES","290":"AMERICA WEST","291":"AIR MALI","292":"PACIFIC BLUE","293":"JAL EXPRESS","294":"IRAN AIR","295":"FRONTIER AIRLINES","296":"HAINAN AIRLINES","297":"KOREAN AIR","298":"QATAR AMIRI","299":"LUXAIR","300":"JAPAN SDF","301":"AUSTRALIA ASIA AIRLINES","302":"ALLEGHENY","303":"DRAGON AIR","304":"SUNWING","305":"MEXICAN AIR FORCE","306":"LAB","307":"IBEX AIRLINES","308":"BRITANNIA AIRWAYS","309":"STANDARD AIRWAYS","310":"UNITED EXPRESS","311":"ANK","312":"SOUTHWEST","313":"KALITTA AIR","314":"BOMBARDIER","315":"SKYEUROPE","316":"BANGKOK AIRWAYS","317":"DELTA EXPRESS","318":"FLYING TIGERS","319":"CHINA SOUTHERN","320":"SCOOT","321":"AIR CARAIBES","322":"TURKISH AIRLINES","323":"SCANAIR","324":"FREEDOM AIR","325":"TAESA","326":"CHINA AIRFORCE","327":"ASIANA AIRLINES","328":"CARIBAIR","329":"AMERICAN EAGLE","330":"ATLAS AIR","331":"AIR NIUGINI","332":"PBA","333":"SOUTH AFRICAN AIRFORCE","334":"LA DODGERS","335":"XIAMEN AIRLINES","336":"VIRGIN NIGERIA AIRWAYS","337":"CHINA EASTERN","338":"AMERICAN INTER ISLAND","339":"HEAVYLIFT","340":"VENEZUELAN AIRFORCE","341":"SLOVAK AIRFORCE","342":"LA COMPAGNIE","343":"HISPANIA","344":"EASYJET","345":"AIR TAHITI","346":"LIAT","347":"AIR 2000","348":"AIR HOLLAND","349":"SOVIET AIR FORCE","350":"AIR EUROPA","351":"WESTJET","352":"OLYMPIC","353":"AEROLINEAS ARGENTINAS","354":"V AUSTRALIA","355":"REP OF KOREA AF","356":"MEA","357":"BALKAN","358":"CEBU PACIFIC","359":"EXPRESS.NET","360":"FINNAIR","361":"BLUE DART","362":"CP AIR","363":"KUNPEN","364":"ANSETT AUSTRALIA","365":"SERVIVENSA","366":"GOVT. OF KUWAIT","367":"BRITISH ASIA AIRWAYS","368":"SPIRIT AIRLINES","369":"AIR NAMIA","370":"SICHUAN AIRLINES","371":"TAAG","372":"AIR EUROPE","373":"TRANSAMERICA","374":"DELTA","375":"JAT","376":"ZAS","377":"UTAIR","378":"HAPAG LLOYD","379":"ETHIOPIAN AIRLINES","380":"EGYPT AIR","381":"MCDONNELL DOUGLAS","382":"SWISS ANTONOV SOCIETY","383":"AIR CHINA","384":"ICELANDAIR","385":"OLYMPUS","386":"LOCKHEED","387":"WESTERN GLOBAL","388":"TWA","389":"AIR CANADA","390":"SEABOARD WORLD","391":"AEROPERU","392":"AIR BERLIN","393":"AUSTRALIAN","394":"KUWAIT AIRWAYS","395":"CONDOR","396":"TNT AIRWAYS","397":"TIBET AIRLINES","398":"TAT","399":"IBERIA","400":"FEDEX","401":"NLM","402":"KALITTA CHARTERS","403":"VOLGA DNEPR","404":"TRANS CANADA AIRLINES","405":"LTS AIR TAXI","406":"QANTAS","407":"AUSTRALIAN AIR EXPRESS","408":"LANICA","409":"NEW YORK AIR","410":"CRUZEIRO","411":"MANDARIN","412":"DACHSER","413":"AMERICAN AIRLINES","414":"AIR INTER","415":"MACKEY INTERNATIONAL","416":"SANDS CASINO","417":"SKYMARK AIRLINES","418":"ISRAIR","419":"VIRGIN BLUE","420":"BMI","421":"FAUCETT PERU","422":"TRANSASIA","423":"CONTINENTAL","424":"KMV","425":"QUEBECAIR","426":"KAZAKHSTAN AIRFORCE","427":"AIR AMERICA","428":"JETTRAIN","429":"SHENZHEN AIRLINES","430":"TUIFLY.COM","431":"PEOPLEXPRESS","432":"PB AIR","433":"BOEING","434":"MALEV","435":"AIRTRAN","436":"ANSETT EXPRESS","437":"VASP","438":"BIMAN BANGLADESH","439":"NORTHEASTERN","440":"IRON ANNIE","441":"AIR ZAIRE","442":"CASINO EXPRESS","443":"VIASA","444":"US AIRWAYS","445":"QANTASLINK","446":"JETSTAR ASIA","447":"INDIAN NAVY","448":"WHITE","449":"AZERBAIJAN AIRLINES","450":"MONARCH","451":"POLET AVIAKOMPANIA","452":"CORSAIR","453":"EMIRATES","454":"BINTER CANARIAS","455":"TOWER AIR","456":"GULF TRAVELLER","457":"AIR TANZANIA","458":"ROYAL AVIATION","459":"INDIAN AIRFORCE","460":"SKYWEST","461":"LUFTWAFFE","462":"AIR WEST","463":"BALKAN BULGARIAN AIRLINES","464":"TAROM","465":"UAT","466":"MYAIR","467":"LUFTHANSA","468":"VIRGIN NIGERIA","469":"CIVIL AIR TRANSPORT","470":"SINGAPORE AIRLINES","471":"SAHSA","472":"BREEZE AIRWAYS","473":"DOUGLAS AIRCRAFT COMPANY","474":"AFRIQIYAH AIRWAYS","475":"PATRIOTS","476":"VARIG","477":"VIRGIN AUSTRALIA","478":"AIR NEW ZEALAND","479":"MEXICANA","480":"TACA","481":"NORTHWEST ORIENT","482":"AVENSA","483":"AIR BRIDGE CARGO","484":"CANADIAN PACIFIC","485":"AMAKUSA","486":"AIR ZIMBABWE","487":"ROSSIYA","488":"KENYA AIRWAYS","489":"AIR CONGO","490":"AZUL LINHAS AEREAS","491":"FIJI AIRWAYS","492":"ROYAL NEPAL AIRLINES","493":"MERPATI NUSANTARA","494":"AIR LIBERTE","495":"JET AIRWAYS","496":"SAUDI ARABIAN","497":"QUBECAIR","498":"HUGES AIRWEST","499":"PHUKET AIRLINES","500":"AVIANCA COLOMBIA","501":"MASWINGS","502":"SILKAIR","503":"THOMSON AIRWAYS","504":"PANEGRA","505":"COMAIR","506":"NOVAIR","507":"UN","508":"AIR SIAM","509":"CATAIR","510":"GOAIR","511":"VIRGIN ATLANTIC","512":"UNIVERSAL AIRLINES","513":"PAN AMERICAN GRACE AIRWAY","514":"AERO CALIFORNIA","515":"SLOVAKIA AIRFORCE","516":"AEROLOGIC","517":"Ecuatoriana","518":"ADRIA","519":"PANAM","520":"JAPAN ASIA AIRWAYS","521":"THOMAS COOK AIRLINES","522":"LTU","523":"AIR NARU","524":"BRANIFF"},"total":{"0":146.69,"1":3188.01,"2":181.85,"3":5424.77,"4":29.45,"5":75.0,"6":31.45,"7":79.9,"8":20.0,"9":33.0,"10":94.36,"11":390.9,"12":34.81,"13":65.0,"14":16.51,"15":28.0,"16":101.0,"17":13.0,"18":40.0,"19":160.83,"20":59.26,"21":1042.21,"22":110.0,"23":84.0,"24":136.0,"25":257.88,"26":58.0,"27":40.0,"28":40.0,"29":96.78,"30":39.95,"31":40.0,"32":1619.11,"33":65.0,"34":46.6,"35":56.91,"36":23.0,"37":80.21,"38":19.39,"39":35.95,"40":82.26,"41":190.9,"42":28.0,"43":246.0,"44":172.4,"45":40.0,"46":48.39,"47":1038.73,"48":1027.35,"49":158.45,"50":65.0,"51":117.59,"52":1710.92,"53":2631.18,"54":113.96,"55":88.39,"56":1063.1,"57":86.0,"58":27.0,"59":15.0,"60":32.26,"61":18793.88,"62":495.94,"63":482.72,"64":263.25,"65":559.3,"66":625.69,"67":44.44,"68":461.93,"69":112.39,"70":25.0,"71":185.26,"72":70.0,"73":600.7,"74":496.47,"75":19.39,"76":108.17,"77":436.05,"78":41.94,"79":1850.86,"80":345.11,"81":224.0,"82":19.39,"83":145.0,"84":40.46,"85":220.0,"86":147.8,"87":405.9,"88":28.86,"89":131.02,"90":67.11,"91":9.99,"92":124.0,"93":180.0,"94":966.72,"95":57.06,"96":62.0,"97":55.0,"98":122.0,"99":1320.76,"100":416.71,"101":97.0,"102":101.92,"103":1349.52,"104":339.78,"105":71.0,"106":684.47,"107":344.2,"108":50.0,"109":80.19,"110":393.55,"111":1413.22,"112":70.0,"113":56.0,"114":20.0,"115":91.64,"116":142.72,"117":340.68,"118":32.45,"119":2628.18,"120":177.53,"121":30.0,"122":70.0,"123":1030.36,"124":150.0,"125":32.26,"126":21.0,"127":109.0,"128":7422.52,"129":273.83,"130":0.0,"131":181.78,"132":75.0,"133":215.0,"134":96.0,"135":40.46,"136":450.31,"137":50.0,"138":111.1,"139":77.33,"140":429.32,"141":40.0,"142":33.96,"143":160.26,"144":271.81,"145":341.41,"146":188.0,"147":32.26,"148":274.12,"149":667.98,"150":40.0,"151":12.0,"152":61.12,"153":138.0,"154":142.46,"155":35.0,"156":211.7,"157":47.77,"158":23.0,"159":45.0,"160":2725.47,"161":39.95,"162":74.0,"163":25.0,"164":0.0,"165":112.54,"166":14.95,"167":37.0,"168":392.22,"169":87.0,"170":701.05,"171":162.24,"172":520.8,"173":889.91,"174":71.32,"175":71.32,"176":19.39,"177":582.81,"178":401.42,"179":142.64,"180":40.46,"181":199.17,"182":67.0,"183":52.39,"184":538.21,"185":93.41,"186":71.32,"187":35.66,"188":25.0,"189":10.0,"190":3174.57,"191":40.0,"192":14803.39,"193":122.96,"194":1081.73,"195":44.84,"196":2702.52,"197":652.18,"198":141.0,"199":70.0,"200":900.0,"201":162.0,"202":231.52,"203":46.0,"204":61.0,"205":218.65,"206":26.49,"207":19.95,"208":1259.68,"209":40.46,"210":363.95,"211":155.0,"212":25.5,"213":11307.62,"214":147.65,"215":53.0,"216":61.56,"217":30.56,"218":67.0,"219":32.26,"220":1451.36,"221":94.0,"222":60.0,"223":690.17,"224":92.53,"225":138.95,"226":35.0,"227":64.52,"228":238.7,"229":76.0,"230":132.0,"231":25.0,"232":190.75,"233":83.42,"234":89.0,"235":70.0,"236":198.0,"237":12.0,"238":49.0,"239":10.0,"240":2378.24,"241":146.31,"242":106.16,"243":17.95,"244":18555.1,"245":33.94,"246":34.99,"247":28.05,"248":19.39,"249":1151.29,"250":67.9,"251":91.9,"252":3580.94,"253":2360.31,"254":11.0,"255":5481.04,"256":167.16,"257":24.45,"258":2588.27,"259":7144.46,"260":671.77,"261":74.94,"262":186.3,"263":2999.38,"264":113.82,"265":33.0,"266":34.5,"267":66.75,"268":152.72,"269":142.73,"270":20.0,"271":38.95,"272":536.63,"273":2037.79,"274":1642.29,"275":106.0,"276":3572.39,"277":14.0,"278":20496.03,"279":39.96,"280":5687.79,"281":87.0,"282":2363.95,"283":2223.03,"284":79.92,"285":35.66,"286":15518.47,"287":46.3,"288":543.36,"289":581.62,"290":347.25,"291":71.32,"292":50.39,"293":35.0,"294":880.87,"295":1472.73,"296":153.95,"297":5295.4,"298":105.72,"299":30.0,"300":72.0,"301":60.0,"302":38.0,"303":889.73,"304":141.88,"305":0.0,"306":261.46,"307":75.0,"308":228.96,"309":3.0,"310":823.25,"311":183.5,"312":9290.3,"313":559.84,"314":40.0,"315":19.0,"316":95.99,"317":26.2,"318":356.75,"319":377.17,"320":203.5,"321":85.0,"322":853.42,"323":37.36,"324":32.5,"325":199.14,"326":56.91,"327":924.51,"328":50.0,"329":973.08,"330":428.84,"331":234.22,"332":19.0,"333":60.0,"334":126.36,"335":55.0,"336":26.0,"337":498.57,"338":25.0,"339":70.0,"340":126.0,"341":53.72,"342":38.68,"343":106.16,"344":1201.23,"345":209.2,"346":38.0,"347":13.0,"348":0.0,"349":113.58,"350":62.81,"351":325.21,"352":4204.48,"353":813.32,"354":768.59,"355":154.84,"356":129.0,"357":121.38,"358":355.49,"359":58.0,"360":1192.51,"361":239.7,"362":537.35,"363":20.0,"364":1162.77,"365":71.0,"366":55.0,"367":374.0,"368":803.87,"369":75.0,"370":93.02,"371":20.0,"372":97.95,"373":25.0,"374":13560.13,"375":214.0,"376":61.0,"377":65.41,"378":22.94,"379":527.75,"380":381.05,"381":262.0,"382":17.84,"383":1495.21,"384":2463.88,"385":35.16,"386":33.96,"387":165.72,"388":3876.17,"389":2247.14,"390":96.65,"391":1420.79,"392":95.9,"393":474.49,"394":48.0,"395":655.74,"396":346.0,"397":36.0,"398":36.0,"399":1969.12,"400":2071.76,"401":189.62,"402":57.0,"403":70.0,"404":205.06,"405":43.95,"406":17467.89,"407":91.68,"408":116.0,"409":55.97,"410":257.25,"411":79.95,"412":33.0,"413":16518.97,"414":96.55,"415":16.0,"416":113.95,"417":19.0,"418":20.0,"419":278.2,"420":312.8,"421":619.26,"422":64.52,"423":2985.05,"424":45.0,"425":165.0,"426":62.5,"427":28.86,"428":0.0,"429":55.0,"430":185.89,"431":109.21,"432":19.0,"433":4167.58,"434":370.34,"435":123.99,"436":56.02,"437":803.0,"438":217.06,"439":0.0,"440":0.0,"441":228.26,"442":60.5,"443":1117.68,"444":698.85,"445":1207.06,"446":30.0,"447":104.0,"448":20.0,"449":49.0,"450":218.89,"451":40.0,"452":184.04,"453":3473.19,"454":49.0,"455":23.0,"456":80.45,"457":133.21,"458":12.0,"459":1546.17,"460":43.0,"461":357.99,"462":159.12,"463":242.85,"464":248.74,"465":40.46,"466":20.0,"467":17250.6,"468":60.0,"469":63.86,"470":13279.34,"471":35.66,"472":57.0,"473":205.62,"474":17.0,"475":115.39,"476":7421.55,"477":1020.89,"478":5985.46,"479":1427.7,"480":69.62,"481":1091.1,"482":104.43,"483":164.64,"484":204.0,"485":20.0,"486":230.84,"487":37.42,"488":22.94,"489":32.26,"490":516.83,"491":573.12,"492":110.27,"493":105.95,"494":15.0,"495":1188.01,"496":739.22,"497":25.0,"498":25.0,"499":0.0,"500":3168.89,"501":19.39,"502":61.12,"503":236.04,"504":61.12,"505":92.0,"506":0.0,"507":45.66,"508":114.63,"509":76.42,"510":93.66,"511":5757.94,"512":19.0,"513":64.52,"514":199.2,"515":30.0,"516":88.83,"517":70.11,"518":91.0,"519":11487.91,"520":106.96,"521":96.0,"522":335.82,"523":80.92,"524":762.26},"ModelCount":{"0":4,"1":68,"2":5,"3":133,"4":1,"5":1,"6":1,"7":2,"8":1,"9":1,"10":2,"11":8,"12":1,"13":2,"14":1,"15":1,"16":3,"17":1,"18":1,"19":2,"20":1,"21":21,"22":2,"23":1,"24":5,"25":7,"26":2,"27":1,"28":1,"29":3,"30":1,"31":1,"32":22,"33":1,"34":1,"35":1,"36":1,"37":2,"38":1,"39":1,"40":2,"41":3,"42":1,"43":7,"44":7,"45":1,"46":2,"47":19,"48":30,"49":4,"50":1,"51":3,"52":52,"53":66,"54":4,"55":2,"56":39,"57":2,"58":1,"59":1,"60":1,"61":348,"62":12,"63":14,"64":10,"65":13,"66":12,"67":1,"68":7,"69":4,"70":1,"71":2,"72":1,"73":11,"74":10,"75":1,"76":4,"77":11,"78":2,"79":50,"80":4,"81":3,"82":1,"83":2,"84":1,"85":8,"86":7,"87":5,"88":1,"89":3,"90":1,"91":1,"92":2,"93":3,"94":27,"95":2,"96":1,"97":1,"98":4,"99":31,"100":7,"101":2,"102":2,"103":28,"104":7,"105":3,"106":19,"107":10,"108":1,"109":3,"110":11,"111":42,"112":1,"113":1,"114":1,"115":2,"116":2,"117":6,"118":1,"119":53,"120":4,"121":1,"122":2,"123":19,"124":1,"125":1,"126":1,"127":2,"128":151,"129":7,"130":1,"131":3,"132":1,"133":2,"134":5,"135":1,"136":5,"137":1,"138":3,"139":3,"140":11,"141":1,"142":1,"143":2,"144":5,"145":10,"146":7,"147":1,"148":7,"149":13,"150":2,"151":1,"152":2,"153":3,"154":3,"155":1,"156":7,"157":2,"158":1,"159":2,"160":64,"161":1,"162":2,"163":1,"164":1,"165":2,"166":1,"167":1,"168":9,"169":2,"170":12,"171":2,"172":8,"173":16,"174":2,"175":2,"176":1,"177":9,"178":8,"179":4,"180":1,"181":4,"182":2,"183":2,"184":7,"185":3,"186":2,"187":1,"188":1,"189":1,"190":56,"191":1,"192":268,"193":4,"194":28,"195":1,"196":47,"197":17,"198":2,"199":1,"200":22,"201":3,"202":6,"203":1,"204":2,"205":8,"206":1,"207":1,"208":22,"209":1,"210":7,"211":4,"212":1,"213":268,"214":3,"215":1,"216":2,"217":1,"218":2,"219":1,"220":41,"221":2,"222":1,"223":11,"224":3,"225":2,"226":2,"227":2,"228":10,"229":2,"230":4,"231":1,"232":5,"233":2,"234":1,"235":1,"236":8,"237":1,"238":1,"239":2,"240":49,"241":4,"242":1,"243":1,"244":341,"245":1,"246":1,"247":1,"248":1,"249":18,"250":2,"251":2,"252":86,"253":53,"254":1,"255":128,"256":4,"257":1,"258":50,"259":174,"260":14,"261":3,"262":7,"263":67,"264":2,"265":1,"266":1,"267":2,"268":5,"269":5,"270":1,"271":1,"272":13,"273":56,"274":33,"275":3,"276":64,"277":1,"278":392,"279":1,"280":105,"281":1,"282":54,"283":48,"284":2,"285":1,"286":288,"287":1,"288":11,"289":20,"290":9,"291":2,"292":2,"293":1,"294":23,"295":44,"296":3,"297":93,"298":2,"299":1,"300":2,"301":2,"302":1,"303":23,"304":4,"305":2,"306":4,"307":1,"308":5,"309":3,"310":22,"311":5,"312":213,"313":6,"314":1,"315":1,"316":2,"317":1,"318":8,"319":8,"320":5,"321":1,"322":20,"323":2,"324":1,"325":5,"326":1,"327":16,"328":1,"329":26,"330":9,"331":5,"332":1,"333":1,"334":4,"335":1,"336":1,"337":15,"338":1,"339":1,"340":2,"341":2,"342":1,"343":1,"344":23,"345":4,"346":1,"347":1,"348":1,"349":2,"350":3,"351":6,"352":79,"353":17,"354":16,"355":2,"356":4,"357":3,"358":9,"359":2,"360":27,"361":6,"362":12,"363":1,"364":25,"365":1,"366":1,"367":4,"368":26,"369":1,"370":3,"371":1,"372":3,"373":1,"374":294,"375":5,"376":2,"377":2,"378":1,"379

In [7]:
testdf = pd.DataFrame(data)
testdf=testdf.sort_values(['ModelCount'],ascending=False)
testdf.head(20)

                airline  ModelCount     total
278     BRITISH AIRWAYS         392  20496.03
467           LUFTHANSA         361  17250.60
61       CATHAY PACIFIC         348  18793.88
406              QANTAS         343  17467.89
244              UNITED         341  18555.10
413   AMERICAN AIRLINES         329  16518.97
374               DELTA         294  13560.13
286                 ANA         288  15518.47
470  SINGAPORE AIRLINES         287  13279.34
213           AIR INDIA         268  11307.62
192                 KLM         268  14803.39
519               PANAM         231  11487.91
312           SOUTHWEST         213   9290.30
259                 JAL         174   7144.46
128          AIR FRANCE         151   7422.52
476               VARIG         142   7421.55
3          THAI AIRWAYS         133   5424.77
478     AIR NEW ZEALAND         131   5985.46
255             EVA AIR         128   5481.04
280       SOUTH AFRICAN         105   5687.79

In [8]:
cursor = colmodels.find({"AIRLINE":"AIR INDIA"}) 
for rec in cursor[:2]:  #slicning in loop to show only two records
         print (rec)
cursor = colmodels.find({"AIRLINE":"AIR INDIA"}, { "AIRLINE": 1, "AIRCRAFT_TYPE": 1, "REGISTRATION": 1,"_id":0 })
for rec in cursor[:2]:  #slicning in loop to show only two records
         print (rec)
print("++++++++++++++++++")
cursor = colmodels.find({"REGISTRATION":"VT-DJI"}, { "AIRLINE": 1, "AIRCRAFT_TYPE": 1, "REGISTRATION": 1,"_id":0 })
for rec in cursor:  #slicning in loop to show only two records
         print (rec)

{'_id': ObjectId('623baa7a56a69c48482a9bbf'), 'ID': 2, 'MODEL_NO': 'AC18022B', 'DIMAID': '', 'WID': '3873', 'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI', 'DESCRIPTION': 'Aeroclassics Air India B 707-437 1:400 - AC18022B - ID#3873; 1960s - Delivery  Colors. Named  Nanda Devi .VT-DJI', 'SIZE': '1:400', 'PRICE': 122.0, 'SHIPPING': 20.0, 'TAX': 0.0, 'COMPANY': 'AEROCLASSICS', 'ORDEREDFROM': 'EBAY:marketa2218', 'DATEOFORDER': datetime.datetime(2021, 7, 4, 0, 0), 'HangarClub': False, 'PictureID': 2}
{'_id': ObjectId('623baa7a56a69c48482a9bce'), 'ID': 32, 'MODEL_NO': 'IF743003', 'DIMAID': 0.0, 'WID': '21375', 'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B747-300', 'REGISTRATION': 'VT-EPW', 'DESCRIPTION': 'Inflight200 Air India B 747-337SCD 1:200 - IF743003; 1990s  Colors. With Rolling Gears;VT-EPW', 'SIZE': '1:200', 'PRICE': 90.0, 'SHIPPING': 4.0, 'TAX': 0.0, 'COMPANY': 'INFLIGHT200', 'ORDEREDFROM': 'EBAY:JOHANCHAN2004', 'DATEOFORDER': datetime.datetime(2011, 1, 31, 0, 0), 'HangarClub': False, 'PictureID': 32}
{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI'}
{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B747-300', 'REGISTRATION': 'VT-EPW'}
++++++++++++++++++
{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI'}
{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI'}
{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI'}
{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI'}
{'AIRLINE': 'AIR INDIA', 'AIRCRAFT_TYPE': 'B707-400', 'REGISTRATION': 'VT-DJI'}

In [ ]:
def cloudM_R():
    db=cloudclient['Aircraft']
    colmodels=db['models']
    colmodels2=db['models2']
    colmodels3=db['modelsold']
    colmodels4=db['solddetails']
    colair_sc_cnt=db['air_scale_cnt']
    colair_sc_cost=db['air_scale_cost']
    modelsdf = pd.DataFrame(list(colmodels.find().sort([('ID', 1)])))
    modelsolddf = pd.DataFrame(list(colmodels3.find()))
    solddetailsdf = pd.DataFrame(list(colmodels4.find()))
    colair_sc_cntdf = pd.DataFrame(list(colair_sc_cnt.find()))
    colair_sc_costdf = pd.DataFrame(list(colair_sc_cost.find()))
    
    #modelsdf = pd.DataFrame(list(colmodels.find()))
    return modelsdf,modelsolddf,solddetailsdf,colair_sc_cntdf,colair_sc_costdf

In [ ]:
a,b,c,d,e=cloudM_R()
e.head()