In [114]:
import sys
import numpy as np
import pandas as pd
import pyodbc as pyodbc
from sqlalchemy.dialects.mssql import pymssql
from flask import Flask, jsonify, render_template
import pymssql
import pymongo
import csv
import json
import matplotlib.pyplot as plt
from pymongo import MongoClient
lclient = MongoClient('localhost',27017)
client = MongoClient('mongodb+srv://arindam:Airbusa350xwb@cluster0.4mvvk.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')

In [115]:
#mongodb+srv://arindam:Airbusa350xwb@cluster0.4mvvk.mongodb.net/myFirstDatabase?retryWrites=true&w=majority

In [116]:
dbl=lclient['sample_mflix']
lcolcomments=dbl['comments']
lcolmovies=dbl['movies']
lcolsessions=dbl['sessions']
lcoltheaters=dbl['theaters']
lcolusers=dbl['users']

In [117]:
db=client['sample_mflix']
colcomments=db['comments']
colmovies=db['movies']
colsessions=db['sessions']
coltheaters=db['theaters']
colusers=db['users']

In [ ]:
colsessionsdf = pd.DataFrame(list(colsessions.find()))
del colsessionsdf['_id']

#
dbl.sessions.insert_many(colsessionsdf.to_dict('records'))

In [ ]:
colsessionsdf = pd.DataFrame(list(colsessions.find()))
del colsessionsdf['_id']
dbl.sessions.drop()
#
dbl.sessions.insert_many(colsessionsdf.to_dict('records'))

In [83]:
coltheatersdf = pd.DataFrame(list(coltheaters.find()))
del colusersdf['_id']
dbl.theaters.drop()
#
dbl.theaters.insert_many(coltheatersdf.to_dict('records'))

In [60]:

colcommentsdf = pd.DataFrame(list(colcomments.find().sort([('ID', 1)])))
del colcommentsdf['_id']

dbl.comments.drop()
dbl.comments.insert_many(colcommentsdf.to_dict('records'))

In [111]:
import time
from datetime import datetime
t=datetime.now()
t1=t.timetuple()
int(time.mktime(t1)/60/60/24)
def date2int(df):
    if df.released:
        t=df['released']
        try:
            t1=t.timetuple()
            return int(time.mktime(t1))
        except ValueError:
            return None

In [112]:
#localc = pd.DataFrame(list(lcolcomments.find().sort([('ID', 1)])))
#localc.head()
#del localc['_id']
#db.comments.insert_many(localc.to_dict('records'))

In [120]:
colmoviesdf = pd.DataFrame(list(colmovies.find()))
dbl.movies.drop()
del colmoviesdf['_id']
colmoviesdf['released'].fillna('00:00:00 00:00:00',inplace=True)
#del colmoviesdf['released']
#colmoviesdf['released']=colmoviesdf.apply(date2int,axis=1)
#colmoviesdf['released']= [value.split("+")[0].split(".")[0] for value in colmoviesdf['released']]
colmoviesdf['lastupdated']= [value.split("+")[0].split(".")[0] for value in colmoviesdf['lastupdated']]
#colmoviesdf.head()
#dbl.movies.drop()
dbl.movies.insert_many(colmoviesdf.to_dict('records'))

In [103]:
colusersdf = pd.DataFrame(list(colusers.find()))
del colusersdf['_id']

#colmoviesdf.head()
dbl.users.drop()
dbl.users.insert_many(colusersdf.to_dict('records'))

In [106]:
import datetime as dt
#dt.datetime.strftime(today1,"%Y-%m-%d")
#colmoviesdf['lastupdated'] 
colmoviesdf['released']= [dt.datetime.strftime(value,"%Y-%m-%d") for value in colmoviesdf['released']]
#colmoviesdf['released']= [value.split("+")[0].split(".")[0] for value in colmoviesdf['released']]
colmoviesdf.head()

ValueError: NaTType does not support timetuple

In [108]:
colmoviesdf['released'].head(20)

0    1893-05-09
1    1903-12-01
2    1912-10-28
3    1909-12-13
4    1911-04-08
5    1913-11-24
6    1914-09-15
7    1914-12-07
8    1914-03-23
9    1915-03-03
10   1915-12-13
11   1915-01-01
12   1915-09-13
13   1916-11-23
14   1916-06-02
15   1916-03-05
16   1916-09-05
17   1916-05-01
18   1917-06-17
19   1917-03-05
Name: released, dtype: datetime64[ns]

In [95]:
 colmoviesdf['lastupdated']=colmoviesdf['lastupdated'].split("+")[0].split(".")[0]

AttributeError: 'Series' object has no attribute 'split'